<nav class="navigation-bar">
    <ul class="navigation-bar__container">
        <li class="navigation-bar__container__item">Home</li>
        <li class="navigation-bar__container__item">Register</li>
        <li class="navigation-bar__container__item">Login</li>
    </ul>    
</nav>