<!DOCTYPE html>

<html>
    <% include ./partials/_head %>
    <body>
      <% include ./partials/_navbar %>
      <header class="main-jumbotron">
        <div class="main-jumbotron__left">
        </div>
        <div class="main-jumbotron__right">
          <h1 class="main-header">Welcome to the ToDoList Storage</h1>
          <h2 class="secondary-header">It's like a storage unit with your to do lists</h2>
        </div> 
      </header>
      <section class="main-row-01">
        <div class="main-row-01__left">
          <h1>So what's the fuss all about?</h1>
          <h2>It's about all the things you have to do, stored in one place!</h2>
        </div>
        <div class="main-row-01__right">
          <h1>It's soo cool everyone want's to register!</h1>
        </div>  
      </section> 
      <% include ./partials/_footer %> 
    </body>    
</html>