doctype html

html
    include ./partials/_head 
    body
      include ./partials/_navbar 
      header.main-jumbotron
        div.main-jumbotron__left
        div.main-jumbotron__right
          h1.main-header Welcome to the ToDoList Storage
          h2.secondary-header It's like a storage unit with your to do lists

      section.main-row-01
        div.main-row-01__left
          h1 So what's the fuss all about?
          h2 It's about all the things you have to do, stored in one place!

        div.main-row-01__right
          h1 It's soo cool everyone want's to register! 
      include ./partials/_footer
