doctype html

html
    include ./partials/_head 
    body
    include ./partials/_navbar 
    section.register-jumbotron
        form(action="/register" method="post" class="register-form")
            legend Fill all the fields and register!
            label(for="name") Your name
            input(id="name" type="name" name="name" placeholder="name")
            label(for="email") Your email
            input(id="email" type="email" name="email" placeholder="email")
            label(for="password") Your password
            input(id="password" type="password" name="password" placeholder="password")
            label(for="confirmPassword") Confirm password
            input(id="confirmPassword" type="password" name="password_confirm" placeholder="confirm password")
            div.button-container
                button(type="submit") Register!
    include ./partials/_footer